body {
    color: var(--font-color);
    font-family: var(--body-font);
    font-size: 20px;
    background-color: var(--paper-color);
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/global/background1.jpg');
    background-position: center top;
    background-blend-mode: multiply;
    position: absolute;
    background-size: cover;
    background-position: center top ;
    z-index: -1;
    opacity: 0.4;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

h1, h2, h3, h4 {
    font-family: var(--headline-font);
    text-transform: uppercase;
    letter-spacing: -0.1em;
    line-height: 0.92;
}

p, li {
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 1.3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul a {
    text-decoration: none;
    color: var(--font-color);
    margin: 10px 10px;
}

.navbar, .type, .learn-more, .read-more, footer h3, .ad {
    font-family: var(--accent-font);
    text-transform: uppercase;
    letter-spacing: 0.05;
    font-size: 0.9rem;
}

.navbar a {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 16px;
}

.read-more, .learn-more {
    font-family: var(--accent-font);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title-container h1 {
    font-size: 13vw;
    margin: 0;
    line-height: 0.8;
    letter-spacing: -0.14em;
}


.read-more {
    font-weight: bold;
    font-size: 16px;
    color: white;   
    background-color: var(--font-color);
    border: solid 4px var(--font-color);
    box-shadow: 8px 6px 0px 0px var(--font-color);
    width: 100%;
    max-width: 150px;
    padding: 10px;
    margin-left: auto;
    margin-right: 10px;
}

.learn-more {
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: solid 4px var(--font-color);
    box-shadow: 8px 6px 0px 0px var(--font-color);
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 20px;
    align-self: center;
}

.type {
    background-color: var(--font-color);
    color: white;
    padding: 5px;
    width: 100%;
    max-width: 90px;
    font-size: 15px;
}

.ad {
    opacity: 0.5;
    align-self: center;
}