footer {
    height: 20vh;
    border-top: solid 5px var(--font-color);
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
}

footer h3 {
    margin-top: 30px;
    font-weight: 150;
    font-family: var(--accent-font);
    font-size: 0.9rem;
    letter-spacing: 0.05;
}

footer p {
    font-size: 0.75rem;
    opacity: 0.8;
}