.navbar {
    height: 14vh;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.navbar a {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 16px;
}

.logo {
    width: 100%;
    height: auto;
    max-width: 135px;
    margin-right: auto;
    filter: contrast(0%);
}

@media (max-width: 600px) {
    .logo {
        margin-right: 0;
        max-width: 120px;
    }
}